<?xml version="1.0" ?>

<robot name="kuka_kr16_2" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find kuka_kr16_gazebo)/urdf/kuka_kr16_2_macro.xacro"/>	
  <xacro:kuka_kr16_gazebo prefix=""/>

  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
</robot>
